{% extends 'base.html.twig' %}

{% block title %}Listagem de Produtos{% endblock %}

{% block body %}
<h1>Listando Produtos</h1><hr>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}

<p class="pull-right"><a href="{{ path("produto.cadastrar") }}" class="btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></a></p>

<table class="table table-stripped table-hover">
    <thead>
    <tr>
        <th>Cod.</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>
                    <a href="{{ path('produto.ver', {"id": produto.id}) }}" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('produto.editar', {"id": produto.id}) }}" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i></a>
                    <a href="{{ path('produto.apagar', {"id": produto.id}) }}" class="btn btn-sm btn-danger bt_excluir_produto"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".bt_excluir_produto").click(function(ev) {
            ev.preventDefault();
            var url = $(this).prop("href");
            if (confirm("Dejesa excluir esse produto?")) {
                window.location = url;
            }
        });
    });
</script>
{% endblock %}
