{% extends "base.html.twig" %}

{% block title %}
    Visualização de produto
{% endblock %}

{% block body %}
    <h1>Visualização de produto - <small>{{ produto.nome }}</small></h1>
    <hr>
    <table class="table table-striped">

        <tbody>
        <tr>
            <th>Cod.</th>
            <td>{{ produto.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ produto.nome }}</td>
        </tr>
        <tr>
            <th>Preço</th>
            <td>R$ {{ produto.preco|number_format(2, ",", ".") }}</td>
        </tr>
        <tr>
            <th>Descrição</th>
            <td>{{ produto.descricao|nl2br }}</td>
        </tr>
        </tbody>

    </table>
{% endblock %}