{% extends 'base.html.twig' %}

{% block title %}{{ animal.nome }} - Visualizar Animal - {% endblock %}

{% block body %}

    <h1>Visualizando Animal - {{ animal.nome }}</h1>
    <table class="table table-striped">
        <tr>
            <th colspan="2">Dados do animal</th>
        </tr>
        <tr>
            <th>Cod.</th>
            <td>{{ animal.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ animal.nome }}</td>
        </tr>
        <tr>
            <th>Data de Nasc.</th>
            <td>{{ animal.dataNascimento|date("d/m/Y") }}</td>
        </tr>
        <tr>
            <th colspan="2">Proprietários</th>
        </tr>
        <tr>
            <th></th>
            <td>
                <ul>
                    {% for cliente in animal.cliente %}
                        <li><a href="{{ path('visualizar_cliente', {'id': cliente.id}) }}">{{ cliente.nome }}</a></li>
                    {% else %}
                        <li>
                            Esse animal não tem nenhum proprietário. <br>
                            Quer adota-lo?
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>

    </table>

{% endblock %}