{% extends 'base.html.twig' %}

{% block title %}{{ cliente.nome }} - Visualizar Cliente - {% endblock %}

{% block body %}

    <h1>Visualizando Cliente - {{ cliente.nome }}</h1>
    <table class="table table-striped">
        <tr>
            <th colspan="2">Dados do cliente</th>
        </tr>
        <tr>
            <th>Cod.</th>
            <td>{{ cliente.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ cliente.nome }}</td>
        </tr>
        <tr>
            <th>Telefone</th>
            <td>{{ cliente.telefone }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>{{ cliente.email }}</td>
        </tr>
        <tr>
            <th colspan="2">Endereço do cliente</th>
        </tr>
        <tr>
            <th>Rua</th>
            <td>{{ cliente.endereco.rua }}, {{ cliente.endereco.numero }}</td>
        </tr>
        <tr>
            <th>Bairro</th>
            <td>{{ cliente.endereco.bairro }}</td>
        </tr>
        <tr>
            <th colspan="2">Animais</th>
        </tr>
        <tr>
            <th></th>
            <td>
                <ul>
                {% for animal in cliente.animal %}
                    <li><a href="{{ path('visualizar_animal', {'id': animal.id}) }}">{{ animal.nome }}</a></li>
                {% else %}
                    <li>Nenhum animal para esse cliente!</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    </table>

{% endblock %}